[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
gnmi-py = {path = ".", editable = true, extras = ["tests"]}
autopep8="*"
coverage="*"
pytest="*"
Sphinx="*"

[packages]
grpcio="*"
protobuf="*"
grpcio-tools="*"
typing-extensions="*"
toml="*"

# [requires]
# python_version = "3.7"
